* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  text-align: center;
  letter-spacing: 1px;
}

header {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

section,
.team-description {
  display: flex;
  flex-direction: column;
}

nav {
  display: none;
}

hr {
  width: 180px;
  height: 3px;
  background-color: #f34739;
  border: none;
  margin: 20px 0 30px 0;
}

.logo {
  height: 36px;
  width: 80px;
  border: 1px solid #f34739;
  border-radius: 14px 0 14px 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 33px;
  font-weight: 300;
  font-size: 18px;
  color: rgb(17, 17, 17);
  margin-left: 15px;
  margin-top: 14px;
}

.burger {
  position: absolute;
  top: 26px;
  right: 17px;
  height: 13px;
  width: 15px;
  transition: 0.2s;
}

.burger.active {
  transform: rotate(90deg);
}

.burger span {
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: black;
  left: 0;
  transition: top 0.2s 0.2s, bottom 0.2s 0.2s, opacity 0.2s 0.2s,
    transform 0.2s 0.4s;
}

.burger span:nth-child(1) {
  top: 0px;
}

.burger.active span:nth-child(1) {
  top: 6px;
  transform: rotate(45deg);
}

.burger span:nth-child(2) {
  top: 6px;
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger span:nth-child(3) {
  bottom: 0;
}

.burger.active span:nth-child(3) {
  bottom: 6px;
  transform: rotate(-45deg);
}

.hero {
  background-image: url(images/Color_Fill_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}

.question {
  font-size: 24px;
  font-weight: 300;
  position: relative;
  width: 90%;
}
.question::before,
.question::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: 50%;
}

.question::before {
  left: 0;
}

.question::after {
  right: 0;
}

.title {
  font-size: 56px;
  line-height: 66px;
  margin-top: 22px;
  margin-bottom: 50px;
  font-weight: bold;
}

.hero button {
  text-transform: uppercase;
  width: 130px;
  height: 32px;
  font-size: 14px;
  background: none;
  color: rgb(255, 255, 255);
  border: 2px solid #fff;
  border-radius: 16px;
  margin-bottom: 53px;
}

.arrow-down {
  font-size: 24px;
  font-weight: 300;
  transform: rotate(90deg);
}

.progress {
  padding-top: 40px;
  align-items: center;
}

.box {
  position: relative;
}

.chart-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.chart-number {
  font-size: 72px;
  font-weight: bold;
}

.chart-number.no1 {
  color: #f34739;
}

.chart-number.no2 {
  color: #009989;
}

.chart-number.no3 {
  color: #152b3c;
}

.progress .decription {
  width: 247px;
  height: 69px;
  font-size: 18px;
  color: rgb(69, 69, 69);
  text-align: center;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.section-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.team-description {
  width: 93.75%;
  height: 80%;
  border: 2px solid #f9fdfc;
  justify-content: center;
  align-items: center;
}

.section-header h4 {
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: 300;
  position: relative;
  width: 252px;
}

.section-header h4::before,
.section-header h4::after {
  content: "";
  width: 70px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  display: inline-block;
  position: absolute;
  bottom: 50%;
}
.section-header h4::before {
  left: 0;
}

.section-header h4::after {
  right: 0;
}

.section-header h4.portfolio::before,
.section-header h4.portfolio::after {
  width: 30px;
}

.Section-title {
  font-size: 48px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
}

.person {
  width: 100%;
  height: 520px;
}

.person-up {
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.person-description {
  border: solid #00000a;
  border-width: 3px 3px 0 3px;
  width: 93.75%;
  height: 85.7143%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.person-title {
  font-size: 24px;
  font-weight: 300;
}

.person-subtitle {
  font-size: 10px;
  font-weight: 300;
}

.person-text {
  font-size: 20px;
  color: rgb(69, 69, 69);
}

.person-down {
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.person-down-border {
  width: 93.75%;
  height: 91.667%;
  border: solid #fff;
  border-width: 0 3px 3px 3px;
  display: flex;
  justify-content: center;
}

.triangle {
  border: solid #ffffff;
  border-width: 20px 20px 20px 20px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: 40px;
}

.section-wrapper {
  margin-bottom: 40px;
}

.portfolio-picture-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-picture-wrapper div:nth-child(1) {
  background-image: url("images/portfolio-images/Layer_48.png");
}

.portfolio-picture-wrapper div:nth-child(2) {
  background-image: url("images/portfolio-images/Layer_49.png");
}

.portfolio-picture-wrapper div:nth-child(3) {
  background-image: url("images/portfolio-images/Layer_50.png");
}

.portfolio-picture-wrapper div:nth-child(4) {
  background-image: url("images/portfolio-images/Layer_51.png");
}

.portfolio-picture-wrapper div:nth-child(5) {
  background-image: url("images/portfolio-images/Layer_52.png");
}

.portfolio-picture-wrapper div:nth-child(6) {
  background-image: url("images/portfolio-images/Layer_53.png");
}

.portfolio-picture-wrapper div:nth-child(7) {
  background-image: url("images/portfolio-images/Layer_54.png");
}

.portfolio-picture-wrapper div:nth-child(8) {
  background-image: url("images/portfolio-images/Layer_55.png");
}

.portfolio-picture-wrapper div:nth-child(9) {
  background-image: url("images/portfolio-images/Layer_56.png");
}

.portfolio-picture-wrapper div:nth-child(10) {
  background-image: url("images/portfolio-images/Layer_57.png");
}

.portfolio-picture-wrapper div:nth-child(11) {
  background-image: url("images/portfolio-images/Layer_58.png");
}

.portfolio-picture-wrapper div:nth-child(12) {
  background-image: url("images/portfolio-images/Layer_59.png");
}

.portfolio-picture {
  width: 160px;
  height: 160px;
  min-width: 120px;
  min-height: 120px;
  flex-shrink: 1;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  transition: 0.4s;
  position: relative;
}

.portfolio-picture img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.4s 0.2s;
}

.portfolio-picture:hover {
  filter: grayscale(0);
}

.portfolio-picture:hover img {
  opacity: 1;
  filter: invert(100%);
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .question::before,
  .question::after {
    width: 50px;
  }
}

@media screen and (max-width: 360px) {
  .question {
    font-size: 22px;
  }

  .question::before,
  .question::after {
    width: 70px;
  }

  .title {
    font-size: 40px;
  }
}
