* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  text-align: center;
  letter-spacing: 1px;
}

body {
  width: 100%;
}

header {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

section,
.section-description,
footer {
  display: flex;
  flex-direction: column;
}

nav {
  display: none;
}

hr {
  width: 180px;
  height: 3px;
  background-color: #f34739;
  border: none;
  margin: 20px 0 30px 0;
}

footer {
  justify-content: center;
  align-items: center;
  background-color: #101010;
  padding-top: 55px;
}

footer > div:not(:nth-child(1)) {
  margin-top: 80px;
}

footer h5 {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: 300;
}

footer hr {
  width: 140px;
  height: 1px;
  background-color: #009989;
  border: none;
  margin: 20px auto 30px auto;
}

footer a,
footer p {
  font-size: 18px;
  color: rgb(74, 74, 74);
  width: 262px;
  text-decoration: none;
}

.logo {
  height: 36px;
  width: 80px;
  border: 1px solid #f34739;
  border-radius: 14px 0 14px 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 33px;
  font-weight: 300;
  font-size: 18px;
  color: rgb(17, 17, 17);
  margin-left: 15px;
  margin-top: 14px;
}

.burger {
  position: absolute;
  top: 26px;
  right: 17px;
  height: 13px;
  width: 15px;
  transition: 0.2s;
}

.burger.active {
  transform: rotate(90deg);
}

.burger span {
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: black;
  left: 0;
  transition: top 0.2s 0.2s, bottom 0.2s 0.2s, opacity 0.2s 0.2s,
    transform 0.2s 0.4s;
}

.burger span:nth-child(1) {
  top: 0px;
}

.burger.active span:nth-child(1) {
  top: 6px;
  transform: rotate(45deg);
}

.burger span:nth-child(2) {
  top: 6px;
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger span:nth-child(3) {
  bottom: 0;
}

.burger.active span:nth-child(3) {
  bottom: 6px;
  transform: rotate(-45deg);
}

.menu {
  display: none;
}

.hero {
  background-image: url(images/Color_Fill_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}

.question {
  font-size: 24px;
  font-weight: 300;
  position: relative;
  width: 90%;
}
.question::before,
.question::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: 50%;
}

.question::before {
  left: 0;
}

.question::after {
  right: 0;
}

.title {
  font-size: 56px;
  line-height: 66px;
  margin-top: 22px;
  margin-bottom: 50px;
  font-weight: bold;
}

.hero button {
  text-transform: uppercase;
  width: 130px;
  height: 32px;
  font-size: 14px;
  background: none;
  color: rgb(255, 255, 255);
  border: 2px solid #fff;
  border-radius: 16px;
  margin-bottom: 53px;
}

.arrow-down {
  font-size: 24px;
  font-weight: 300;
  transform: rotate(90deg);
}

.progress {
  padding-top: 40px;
  align-items: center;
}

.box {
  position: relative;
}

.chart-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.chart-number {
  font-size: 72px;
  font-weight: bold;
}

.chart-number.no1 {
  color: #f34739;
}

.chart-number.no2 {
  color: #009989;
}

.chart-number.no3 {
  color: #152b3c;
}

.progress .decription {
  width: 247px;
  height: 69px;
  font-size: 18px;
  color: rgb(69, 69, 69);
  text-align: center;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.section-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.section-header.team {
  background-image: url("images/our_team.png");
}

.section-header.portfolio {
  background-image: url("images/portfolio.png");
}

.section-header.brands {
  background-image: url("images/brands.png");
}

.section-description {
  width: 93.75%;
  height: 80%;
  border: 2px solid #f9fdfc;
  justify-content: center;
  align-items: center;
}

.section-header h4 {
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: 300;
  position: relative;
  width: 252px;
}

.section-header h4::before,
.section-header h4::after {
  content: "";
  width: 70px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  display: inline-block;
  position: absolute;
  bottom: 50%;
}
.section-header h4::before {
  left: 0;
}

.section-header h4::after {
  right: 0;
}

.section-header h4.portfolio::before,
.section-header h4.portfolio::after {
  width: 30px;
}

.section-header h4.brands::before,
.section-header h4.brands::after {
  width: 60px;
}

.Section-title {
  font-size: 48px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
}

.person {
  width: 100%;
  height: 520px;
}

.person-up {
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.person-description {
  border: solid #00000a;
  border-width: 3px 3px 0 3px;
  width: 93.75%;
  height: 85.7143%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.person-title {
  font-size: 24px;
  font-weight: 300;
}

.person-subtitle {
  font-size: 10px;
  font-weight: 300;
}

.person-text {
  font-size: 20px;
  color: rgb(69, 69, 69);
}

.person-down {
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.person-down.adrianna {
  background-image: url("images/adrianna.png");
}

.person-down.olivia {
  background-image: url("images/olivia.png");
}

.person-down.thomas {
  background-image: url("images/thomas.png");
}

.person-down.taylor {
  background-image: url("images/taylor.png");
}

.person-down-border {
  width: 93.75%;
  height: 91.667%;
  border: solid #fff;
  border-width: 0 3px 3px 3px;
  display: flex;
  justify-content: center;
}

.triangle {
  border: solid #ffffff;
  border-width: 20px 20px 20px 20px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: 40px;
}

.person:last-of-type {
  margin-bottom: 40px;
}

.portfolio-picture-wrapper,
.brands-logos-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-picture-wrapper div:nth-child(1) {
  background-image: url("images/portfolio-images/Layer_48.png");
}

.portfolio-picture-wrapper div:nth-child(2) {
  background-image: url("images/portfolio-images/Layer_49.png");
}

.portfolio-picture-wrapper div:nth-child(3) {
  background-image: url("images/portfolio-images/Layer_50.png");
}

.portfolio-picture-wrapper div:nth-child(4) {
  background-image: url("images/portfolio-images/Layer_51.png");
}

.portfolio-picture-wrapper div:nth-child(5) {
  background-image: url("images/portfolio-images/Layer_52.png");
}

.portfolio-picture-wrapper div:nth-child(6) {
  background-image: url("images/portfolio-images/Layer_53.png");
}

.portfolio-picture-wrapper div:nth-child(7) {
  background-image: url("images/portfolio-images/Layer_54.png");
}

.portfolio-picture-wrapper div:nth-child(8) {
  background-image: url("images/portfolio-images/Layer_55.png");
}

.portfolio-picture-wrapper div:nth-child(9) {
  background-image: url("images/portfolio-images/Layer_56.png");
}

.portfolio-picture-wrapper div:nth-child(10) {
  background-image: url("images/portfolio-images/Layer_57.png");
}

.portfolio-picture-wrapper div:nth-child(11) {
  background-image: url("images/portfolio-images/Layer_58.png");
}

.portfolio-picture-wrapper div:nth-child(12) {
  background-image: url("images/portfolio-images/Layer_59.png");
}

.portfolio-picture-wrapper div:nth-child(12) {
  display: none;
}
.portfolio-picture-wrapper div:nth-child(13) {
  display: none;
}
.portfolio-picture-wrapper div:nth-child(14) {
  display: none;
}
.portfolio-picture-wrapper div:nth-child(15) {
  display: none;
}
.portfolio-picture-wrapper div:nth-child(16) {
  display: none;
}
.portfolio-picture-wrapper div:nth-child(17) {
  display: none;
}
.portfolio-picture-wrapper div:nth-child(18) {
  display: none;
}
.portfolio-picture-wrapper div:nth-child(19) {
  display: none;
}
.portfolio-picture-wrapper div:nth-child(20) {
  display: none;
}

.portfolio-picture-wrapper div:nth-child(21) {
  display: none;
}

.portfolio-picture {
  width: 160px;
  height: 160px;
  min-width: 120px;
  min-height: 120px;
  flex-shrink: 1;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  transition: 0.4s;
  position: relative;
}

.portfolio-picture img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.4s 0.2s;
}

.portfolio-picture:hover {
  filter: grayscale(0);
}

.portfolio-picture:hover img {
  opacity: 1;
  cursor: pointer;
}

.brands-logo {
  width: 160px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  flex-grow: 1;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: 0.2s;
}

.brands-logo:hover {
  filter: grayscale(0);
}

.copyrights {
  font-size: 12px;
  background-color: #0e0e0d;
  padding: 25px;
}

@media screen and (max-width: 320px) {
  .question::before,
  .question::after {
    width: 50px;
  }
}

@media screen and (max-width: 360px) {
  .question {
    font-size: 22px;
  }

  .question::before,
  .question::after {
    width: 70px;
  }

  .title {
    font-size: 40px;
  }
}

@media screen and (min-width: 720px) {
  header {
    height: 80px;
    align-items: center;
  }

  nav {
    display: block;
    background-color: #101010;
    width: 435px;
    height: 100%;
  }
  .logo {
    margin-left: 210px;
    margin-top: 0;
  }

  .burger {
    right: 395px;
    top: 35px;
    cursor: pointer;
  }

  .burger span {
    background-color: #ffffff;
  }

  .menu {
    display: inline;
    text-transform: uppercase;
    position: absolute;
    top: 32px;
    right: 322px;
    color: #ffffff;
    cursor: pointer;
  }

  .hero {
    height: 600px;
    background-image: url("images/hero_desktop.png");
  }

  .question {
    font-size: 30px;
    font-family: "Dosis", sans-serif;
    font-weight: 300;
    width: 100%;
  }

  .question::before,
  .question::after {
    width: 160px;
  }

  .question::before {
    left: 33.125%;
  }

  .question::after {
    right: 33.125%;
  }

  .title {
    font-size: 72px;
    margin: 20px 0 50px 0;
  }

  .hero button {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    margin-bottom: 160px;
  }

  .progress {
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 0 80px 0;
  }

  .section-wrapper {
    align-items: center;
  }

  .section-header {
    height: 300px;
  }

  .section-header.team {
    background-image: url("images/team-desktop.png");
    margin-bottom: 50px;
  }

  .section-header.portfolio {
    background-image: url("images/portfolio-desktop.png");
  }

  .section-description {
    width: 1020px;
    height: 200px;
  }

  .section-description h4 {
    font-size: 18px;
  }

  .section-description h4::before,
  .section-description h4::before {
    width: 60px;
  }

  .section-title {
    font-size: 48px;
  }

  .person {
    width: 1180px;
    height: 300px;
  }

  .person:nth-child(even) {
    flex-direction: row-reverse;
  }

  .person:nth-child(odd) {
    flex-direction: row;
  }

  .person-up {
    height: 100%;
    width: 590px;
    align-items: center;
    justify-content: flex-end;
  }

  .person:nth-child(even) .person-up {
    justify-content: flex-start;
  }

  .person-description {
    height: 260px;
    width: 572px;
  }

  .person:nth-child(even) .person-description {
    border-width: 3px 3px 3px 0;
  }

  .person:nth-child(odd) .person-description {
    border-width: 3px 0 3px 3px;
  }

  .person-down {
    width: 590px;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  .person:nth-child(odd) .person-down {
    justify-content: flex-start;
  }

  .person-down.adrianna {
    background-image: url("images/adrianna-desktop.png");
  }

  .person-down.olivia {
    background-image: url("images/olivia-desktop.png");
  }

  .person-down.thomas {
    background-image: url("images/thomas-desktop.png");
  }

  .person-down.taylor {
    background-image: url("images/taylor-desktop.png");
  }

  .person-down-border {
    height: 260px;
    width: 572px;
  }

  .person:nth-child(even) .person-down-border {
    border-width: 3px 0 3px 3px;
    justify-content: flex-end;
    align-items: center;
  }

  .person:nth-child(odd) .person-down-border {
    border-width: 3px 3px 3px 0;
    justify-content: flex-start;
    align-items: center;
  }

  .person:nth-child(even) .triangle {
    transform: rotate(90deg);
  }

  .person:nth-child(odd) .triangle {
    transform: rotate(-90deg);
  }

  .person-title {
    font-size: 36px;
    font-weight: 400;
  }

  .person-subtitle {
    font-size: 12px;
    font-weight: bold;
  }

  .person-text {
    min-width: 300px;
    max-width: 445px;
  }

  .portfolio-picture {
    width: 210px;
    height: 236px;
  }

  .portfolio-picture-wrapper div:nth-child(1) {
    background-image: url("images/portfolio-images-desktop/Layer_21.png");
  }

  .portfolio-picture-wrapper div:nth-child(2) {
    background-image: url("images/portfolio-images-desktop/Layer_22.png");
  }

  .portfolio-picture-wrapper div:nth-child(3) {
    background-image: url("images/portfolio-images-desktop/Layer_24.png");
  }

  .portfolio-picture-wrapper div:nth-child(4) {
    background-image: url("images/portfolio-images-desktop/Layer26.png");
  }

  .portfolio-picture-wrapper div:nth-child(5) {
    background-image: url("images/portfolio-images-desktop/Layer28.png");
  }

  .portfolio-picture-wrapper div:nth-child(6) {
    background-image: url("images/portfolio-images-desktop/Layer29.png");
  }

  .portfolio-picture-wrapper div:nth-child(7) {
    background-image: url("images/portfolio-images-desktop/Layer30.png");
  }

  .portfolio-picture-wrapper div:nth-child(8) {
    background-image: url("images/portfolio-images-desktop/Layer31.png");
  }

  .portfolio-picture-wrapper div:nth-child(9) {
    background-image: url("images/portfolio-images-desktop/Layer32.png");
  }

  .portfolio-picture-wrapper div:nth-child(10) {
    background-image: url("images/portfolio-images-desktop/Layer33.png");
  }

  .portfolio-picture-wrapper div:nth-child(11) {
    background-image: url("images/portfolio-images-desktop/Layer34.png");
  }

  .portfolio-picture-wrapper div:nth-child(12) {
    background-image: url("images/portfolio-images-desktop/Layer35.png");
  }

  .portfolio-picture-wrapper div:nth-child(13) {
    background-image: url("images/portfolio-images-desktop/Layer36.png");
    display: block;
  }
  .portfolio-picture-wrapper div:nth-child(14) {
    background-image: url("images/portfolio-images-desktop/Layer37.png");
    display: block;
  }
  .portfolio-picture-wrapper div:nth-child(15) {
    background-image: url("images/portfolio-images-desktop/Layer38.png");
    display: block;
  }
  .portfolio-picture-wrapper div:nth-child(16) {
    background-image: url("images/portfolio-images-desktop/Layer39.png");
    display: block;
  }
  .portfolio-picture-wrapper div:nth-child(17) {
    background-image: url("images/portfolio-images-desktop/Layer40.png");
    display: block;
  }
  .portfolio-picture-wrapper div:nth-child(18) {
    background-image: url("images/portfolio-images-desktop/Layer41.png");
    display: block;
  }
  .portfolio-picture-wrapper div:nth-child(19) {
    background-image: url("images/portfolio-images-desktop/Layer42copy.png");
    display: block;
  }
  .portfolio-picture-wrapper div:nth-child(20) {
    background-image: url("images/portfolio-images-desktop/Layer43.png");
    display: block;
  }
  .portfolio-picture-wrapper div:nth-child(21) {
    background-image: url("images/portfolio-images-desktop/Layer44.png");
    display: block;
  }
}
